# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Data
data/

# Models
*.pth

# Results
results/
results_*/
**/results_*/
downloaded_results/
downloaded_results_3d/
**/fixed_scale_visualizations/
trial_results/
results_latest

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
*.out

# Backup
backup/

# Other
ripser-plusplus/
euclidean_run.log
*:Zone.Identifier 